body {
    margin: 0px;
    padding: 0px;
    background: #CCCCCC;
}
ul {
    padding-left: 0px;
}
.left-nav {
    width: 28%;
    margin-left: 2.6%;
    margin-top: 5.5%;
    float: left;
}
.picture {
    width: 87%;
    margin-left: 9%;
    background: yellow;
    border-radius: 50%;
}
.nav hr {
    width: 67%;
}
.nav ul {
    width: 66%;
    margin-left: 19%;
}
.nav-word hr {
    width: 100%;
}
.nav-word {
    display: block;
    padding-top: 15px;
    padding-bottom: 12px;
    line-height: 5px;
    color: #3399CC;
}
.main {
    width: 62%;
    margin-left: 34%;
}
.title {
    padding-top: 19%;
}
.subheading {
    font-size: 19px;
    line-height: 27px;
}
.main hr {
    margin-top: 5%;
    z-index: 1;
}
.letter {
    position: relative;
    z-index: 2;
    margin-top: -2.5%;
    margin-left: 42%;
    font-size: 27px;
    color: #003366;
    width: 13%;
    background: #CCCCCC;
}
