body {
    margin: 0px;
    padding: 0px;
    background: #CCCCCC;
    color: #003366;
}
ul {
    padding-left: 0px;
}
.left-nav {
    width: 28%;
    margin-left: 2.6%;
    margin-top: 5.5%;
    float: left;
}
.picture {
    width: 87%;
    margin-left: 9%;
    border-radius: 50%;
}
.nav hr {
    width: 67%;
}
.nav ul {
    width: 66%;
    margin-left: 19%;
}
.nav-word hr {
    width: 100%;
}
.nav-word {
    display: block;
    padding-top: 15px;
    padding-bottom: 12px;
    line-height: 5px;
}
.main {
    width: 64%;
    margin-left: 34%;
}
.title {
    padding-top: 18%;
}
.subheading {
    font-size: 19px;
    line-height: 27px;
}
.main hr {
    margin-top: 5%;
    z-index: 1;
}
.letter {
    position: relative;
    z-index: 2;
    margin-top: -2.5%;
    margin-left: 42%;
    font-size: 27px;
    width: 13%;
    background: #CCCCCC;
}
.introduction {
    display: inline-block;
    width: 290px;
    height: 360px;
    margin-right: 1.5%;
}
.image {
    width: 96%;
    height: 82%;
    margin-top: 5%;
    margin-left: 2%;
}
.name {
    width: 36%;
    font-size: 16px;
    margin-left: 33%;
    margin-top: 5%;
}
.about {
    width: 18%;
    margin: 2% 0 2% 41%;
    font-size: 17px;
}
